* {
  font-family: 'Encode Sans', sans-serif;
}

h1 {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(181, 119, 4);
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.article-wrapper {
  width: 100%;
}

article {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.first{
  width: 5cm;
}

.second{
  width:5cm
}
.image{
  height: 5cm;
  width: 5cm;
}